@import "fonts";


/* main */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --accent: #dadada;
    --sindex: calc(1vw + 1vh);
    --transition: cubic-bezier(0, 0.9, 0.7, 1);
}

/* content */

body {
    background-color: var(--accent);
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .arrow-down {
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        bottom: 1em;
        animation: bounce 2s infinite;

        @keyframes bounce {
            100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-10px);
                -webkit-transform: translateY(-10px);
                -moz-transform: translateY(-10px);
                -ms-transform: translateY(-10px);
                -o-transform: translateY(-10px);
            }

            0% {
                transform: translateY(0);
            }
        }
    }
}


/* fonts */

@mixin font {
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}

span {
    font-family: Manrope, sans-serif;
    font-size: .7rem;
    @include font
}

h2 {
    font-family: Manrope, sans-serif;
    font-size: 3rem;
    @include font
}


/* header */

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: sticky;
    margin: 1em;
    top: 1em;
    align-items: center;

    .social-icons {
        display: flex;
        justify-content: flex-end;
        gap: .5em;
    }

    // for font
    .title-header {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}


/* content */

main {
    display: flex;
    flex-direction: column;
    gap: 5em;
    height: 75.5em;
    margin: 1em;

    @media (min-width:767px) {
        align-items: center;
    }

    /* card */

    .card-item {
        height: 70vh;
        border-radius: 1.5em;
        overflow: hidden;

        @media (min-width:767px) {
            min-width: 25rem;
            height: calc(var(--sindex)*25);
        }

        .card-bg {
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            &:hover {
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
            }
        }

        .card-title {
            margin-top: 2em;
            text-align: center;
            color: var(--accent);
        }

        .card-info {
            text-align: center;
            color: var(--accent);
        }

        .card-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(var(--sindex)*18);
        }
    }

}