@import "fonts";


/* main */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --accent: #dadada;
    --variable: #0b0b0b;
    --sindex: calc(1vw + 1vh);
    --transition: cubic-bezier(0, 0.9, 0.7, 1);
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --accent: #000000;
//         --variable: #dadada;
//     }
// }

/* content */

body {
    background-color: var(--accent);
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
    overflow-x: hidden;


    .arrow-down {
        mix-blend-mode: difference;
        position: fixed;
        width: 100vw;
        bottom: 1em;
        animation: bounce 2s infinite;

        @keyframes bounce {
            100% {
                transform: translateY(-15px);
            }

            50% {
                transform: translateY(0px);
            }

            0% {
                transform: translateY(-15px);
            }
        }

        .arrow {
            display: flex;
            margin: 0 auto;
        }
    }
}

a {
    text-decoration: none;
    color: var(--accent);
}

/* fonts */

@mixin font {
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

span {
    font-family: Manrope, sans-serif;
    font-size: .7rem;
    text-align: center;
    @include font
}

h1 {
    font-family: Manrope, sans-serif;
    font-size: 2rem;
    text-align: center;
    @include font;

    @media (min-width: 768px) {
        font-size: 3rem;
    }
}

h2 {
    font-family: Manrope, sans-serif;
    font-size: 3rem;
    text-align: center;
    @include font;
}

h3 {
    font-family: Manrope, sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    line-height: 120%;
}


/* header */

header {
    mix-blend-mode: difference;
    color: var(--accent);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: sticky;
    margin: 1em;
    top: 1em;
    align-items: center;
    z-index: 1;

    .social-icons {
        display: flex;
        justify-content: flex-end;
        gap: .5em;
    }

    // for font
    .title-header {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}


/* content */

@mixin bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5em;
    height: auto;

    @media (min-width:767px) {
        height: auto;
        align-items: center;
    }

    /* hi */
    .hello {
        margin: 1em 0;
    }

    /* about */
    .about {
        margin: 1em 1em;
        display: flex;
        align-items: center;
        flex-direction: column;

        @media (min-width:767px) {
            width: 60em;
        }
    }

    /* cards */

    .cards {
        display: flex;
        flex-direction: column;
        gap: 8em;

        @media (min-width:767px) {
            gap: 5em;
        }
    }

    .card-item {
        position: relative;
        margin: 0 1em 0 1em;
        z-index: -2;
        min-height: 70vh;
        border-radius: 1em;
        overflow: hidden;
        cursor: pointer;

        .card-bg {
            position: absolute;
            z-index: -1;
            top: -7em;
            right: 0;
            left: 0;
            bottom: 0;
            @include bg;

            .card-mobile {
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                left: 0;
                bottom: -20em;
                transform: scale(.75) translateY(15em);
                @include bg;
            }
        }


        @media (min-width:767px) {
            min-width: 25rem;
            min-height: calc(var(--sindex)*26);
        }

        .card-title {
            margin-top: 3em;
            text-align: center;
            color: var(--accent);
        }

        .card-info {
            text-align: center;
            color: var(--accent);
        }

        .lock {
            margin: 1.5em 0;
            text-align: center;
        }

        .card-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(var(--sindex)*20);

            @media (min-width:767px) {
                height: calc(var(--sindex)*10);
            }
        }
    }

    .hire {
        width: 100vw;
        padding-top: 4em;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        color: var(--accent);
        background-color: var(--variable);

        .malito {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 10em;
            min-height: 10em;
            margin: 20em 0;
            padding: 1em;
            border-radius: 10em;
            background: var(--accent);
            color: var(--variable);
            mix-blend-mode: difference;

            @media (min-width:767px) {
                margin: 8em 0;
            }
        }
    }

}